[Desktop Entry]
Name=Daggerfall Unity
Comment=A modernised version of The Elder Scrolls II: Daggerfall
Exec=DaggerfallUnity.x86_64
Icon=io.github.Interkarma.daggerfall-unity
StartupNotify=true
PrefersNonDefaultGPU=true
Terminal=false
Type=Application
Categories=Game;RolePlaying
Keywords=elder scrolls;daggerfall;rpg;role playing
