[Desktop Entry]
Name=RBDoom3BFG
Exec=io.github.RobertBeckebans.RBDOOM-3-BFG
Type=Application
Icon=io.github.RobertBeckebans.RBDOOM-3-BFG
Categories=Game;Shooter;
